OLLAMA_URL=http://localhost:11434
OLLAMA_LLM_MODEL=llama3.2:3b
OLLAMA_EMBEDDING_MODEL=mxbai-embed-large
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=my_kb_local
CHUNK_SIZE=128
EMBEDDING_DIM=1024
SIMILARITY_TOP_K=5
